version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: party-card-game-server:1.1
    container_name: party-card-server
    restart: always
    ports:
      - "3001:3001"
    environment:
      - PORT=3001

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: party-card-game-client:1.1
    container_name: party-card-client
    restart: always
    ports:
      - "80:80"
    depends_on:
      - server
